.pdet .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto-card {
    background-color: #bebebe;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
    max-width: 500px;
    width: 90%;
    border: 5px; 
}

.produto-card h2 {
    font-size: 24px;
    font-weight: bold;
    color: #830000; 
}

.produto-card p {
    font-size: 16px;
    color: #333;
}

.produto-card img {
    max-width: 100%;
    height: auto;
    border: 2px;
}
